<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Tyson Mowing</title>

		<script
			src="https://kit.fontawesome.com/b02a1c9014.js"
			crossorigin="anonymous"
		></script>
		<style>
			@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

			/* Full Screen Nav */
			html {
				height: 100%;
        overflow: hidden;
			}
			body {
				background: linear-gradient(rgb(0, 0, 109), rgb(30, 30, 255));
				background-image: url("/imgs/lawn.jpg");
				background-size: cover;

				margin: 0px;
				height: 100%;
				overflow: hidden;
				transition: all 0.5s ease-in-out;
				perspective: 2000px;
				font-family: "Raleway", sans-serif;
        position: relative;
        
				display: flex;
				align-items: stretch;
				justify-content: space-between;
			}
			body.expand-nav {
				padding: 60px;
				height: calc(100% - 120px);
			}
			.page-left,
			.page-right {
				transition: all 0.5s ease-in-out;
				flex: 0;
				box-shadow: 5px 5px 15px 3px #00000044;
			}
			.page-right {
				opacity: 0;
				width: 0;
				min-width: 0;
				white-space: nowrap;
			}
			.page-right hr {
				border: 1px solid black;
			}
			.page-right a {
				display: block;
				text-decoration: none;
				color: black;
				padding: 20px 15px;
				font-size: 20px;
			}
			.page-right a:hover {
				background-color: #ffffff55;
			}
			.page-right a i {
				float: right;
				vertical-align: middle;
				line-height: 24px;
			}
			.page-left {
				background-color: #eee;
        overflow: auto;
        max-height: 100vh;
				flex: 1;
			}
			body.expand-nav .page-left {
				transform: rotateY(8deg);
			}
			body.expand-nav .page-right {
				transform: rotateY(-20deg);
				background-color: #ffffff22;
				min-width: 20%;
				padding: 20px;
				opacity: 1;
			}
			body.expand-nav .page-right:hover {
				background-color: #ffffff66;
			}
			#closeMenu {
				display: none;
				float: right;
				padding: 0 10px;
				transition: color 0.5s ease-in-out;
			}
			#closeMenu:hover {
				color: white;
				cursor: pointer;
			}

			/* NAVBAR */
			nav {
				width: 100%;
				background-color: #ffffff88;
				line-height: 60px;
				vertical-align: middle;
				font-size: 20px;
				position: fixed;
        top: 0;
        
        transition: background-color 0.5s ease-in-out;;
				box-shadow: 5px 5px 5px #0000001A;
        z-index: 9;
			}
      nav:hover {
				background-color: #ffffffaa;
			}
      nav.scrolled {
				background-color: #ffffff11;
      }
			nav h1 {
				font-size: inherit;
				display: inline;
			}
			nav a {
				padding: 0 20px;
				float: right;
				text-decoration: none;
				color: black;
			}
			nav a:hover {
				background-color: #ffffffee;
			}
			nav #logo {
				float: left;
			}

			/* Main page */
			main {
				margin-top: 50px;
			}
      
      .hero {
        width: calc(100% - 100px);
        height: 70vh;
        display: flex;
        padding: 0 50px;
      }
      .hero .hero-left {
        flex: 1;
        position: relative;

      }
      .hero .text {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }
      .hero h2 {
        font-weight: bold;
        font-size: 80px;
        background: linear-gradient(45deg, darkblue, red);
        background-clip: text;
        color: transparent;
        -webkit-background-clip:text;
      }
      .hero .hero-right {
        width: 35%;
        position: relative;
        background-image: url("https://cdn.glitch.global/452e9c24-5e53-41f7-95dc-2c56a0bea4e4/shere.png?v=1661440773111");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        
        padding: 20px;
      }
      .hero img {
        position: absolute;
        top: 50%;
        transform: translateY(-50%) translateX(-10%);
        width: 100%;
        animation: rotateImage 5s linear infinite alternate;
      }

      @keyframes rotateImage {
        from {transform: rotateY(-50deg) translateY(-50%) translateX(-10%);}
        to {transform: rotateY(50deg) translateY(-50%) translateX(-10%);}
      }
			@media (max-width: 600px) {
				body.expand-nav .page-right {
					position: fixed;
					right: 0;
					top: 0;
					bottom: 0;
					width: calc(100% - 40px);
					background-color: rgb(108, 150, 24);
					transform: none;
				}
				body.expand-nav .page-right:hover {
					background-color: rgb(108, 150, 24);
				}
				body.expand-nav #closeMenu {
					display: inline;
				}
        .hero {
          flex-direction: column;
        }
        .hero .hero-left, .hero .hero-right {
          width: 100%;
        }
			}
		</style>
	</head>
	<body onclick="closeNav()">
		<div class="page-left">
			<nav>
				<a href="/" id="logo"><h1>Tyson Mowing</h1></a>
				<a href="#menu" onclick="document.body.classList.toggle('expand-nav')"
					>☰</a
				>
				<a href="/login">Login</a>
			</nav>
			<main>
        <div class="hero">
          <div class="hero-left">
            <div class="text">
              <h2>
              Local Lawns,<br>Local Prices
            </h2>
            </div>
          </div>
          <div class="hero-right">
            <img class="mower" src="https://cdn.glitch.global/452e9c24-5e53-41f7-95dc-2c56a0bea4e4/lawnmower.png?v=1661440773228" alt="Lawn Mower">
          </div>
        </div>
          hello
     <h1 style="padding-top: 500px">hello</h1>
 
      </main>
		</div>
		<div class="page-right">
			<h2>
				Tyson Mowing - Menu
				<span
					id="closeMenu"
					onclick="document.body.classList.remove('expand-nav')"
					>&#x2715;</span
				>
        
			</h2>
			<hr />
			<a href="/about">About<i class="fa-solid fa-circle-info"></i></a>
			<a href="/services"
				>Services<i class="fa-solid fa-handshake-simple"></i>
			</a>
			<a href="/contact">Contact <i class="fa-solid fa-phone"></i></a>
			<a href="/login">Login <i class="fa-solid fa-circle-user"></i></a>
			<a href="/dashboard">Dashboard <i class="fa-solid fa-chart-line"></i></a>
			<a href="/calendar">Calendar <i class="fa-solid fa-calendar-day"></i></a>
		</div>

		<script>
			function closeNav(e) {
				e = window.event || e;
				if (document.body === e.target) {
					document.body.classList.remove("expand-nav");
				}
			}
      document.body.getElementsByTagName("nav")[0].onscroll = function() {
        if (window.pageYOffset) > 10 {
          
        }
      }
		</script>
	</body>
</html>
